@import "index.css";

.content h1{
    margin-bottom: 24px;
}

.content span{
    font-style: italic;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(166, 255, 255);
    color: darkcyan;
    
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 620px;
    margin-top: 25px;
}

img{
    width: 100%;
}

figcaption {
    background-color: #222;
    color: #fff;
    font-size: 13px;
    font-style: italic;
    padding: 3px;
    text-align: center;
}