@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "nav.css";
@import "footer.css";
@import "sidebar.css";

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.container{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 1.5fr 1fr 3%;
    grid-template-areas:
    "nav"
    "main"
    "sd"
    "ft";
}

.main{
    grid-area: main;
    display:flex;
    flex-direction: row;
    background-color: #333;
}

.content{
    padding: 15px 50px;
    margin: 0 auto;
    background-color: #333;
}

.content h1{
    text-align: left;
    color: antiquewhite;
    font-size: 20px;
    margin: 50px;
    margin-left: 0;
    line-height: 130%;
}

.content h2{
    font-size: 19px;
}
.content h2,h3{
    color: antiquewhite;
}

.content p{
    color: rgb(31, 212, 212);
    font-size: 17px;
}

.content a{
    color:darkcyan;
    font-weight: 600;
}


/*tablet*/
@media (min-width: 601px) and (max-width: 1100px){
    .container{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-template-rows: 8% 84% 8%;
        grid-template-areas:
        "nav nav nav nav"
        "main main sd sd"
        "ft ft ft ft";
 }

 .content h1{
     font-size: 24px;
 }

 .content h2{
    font-size: 22px;
}

 .content p{
     font-size: 20px;
 }
}

/*desktop*/
@media (min-width: 1101px){
    .container{
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 8fr 1fr;
        grid-template-areas:
        "nav nav nav nav nav"
        "main main main sd sd"
        "ft ft ft ft ft";
 }
 
 .content h1{
     font-size: 40px;
 }

 .content p{
     font-size: 24px;
 }
}

