@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.contener{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 95% 8%;
}

.nav{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 15px 30px;
}


.nav-slecte{
    list-style: none;
    display: flex;
    gap: 50px;
    text-align: right;
    font-weight: 600;
}
.nav-slecte a{
    font-size:large;
    padding: 15px;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
    transition: 0.3s ease-in-out;
}

.nav-slecte a:hover{
    border-radius: 10px 10px 30px 30px;
    background-color: #333;
    color: antiquewhite;
}
.main{
    display:flex;
    flex-direction: row;
    background-color: #333;
}

.content{
    padding: 15px 50px;
    width: 60%;
    height: 100%;
    background-color: #333;
}
.content h1{
    text-align: center;
    color: antiquewhite;
    font-size: 2.5rem;
    margin: 50px;
}
.content h2,h3{
    color: antiquewhite;
}
.content p{
    color: rgb(31, 212, 212);
    font-size:1.2rem;
}
.content a{
    color:darkcyan;
    font-weight: 600;
    
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 40%;
    height: 100%;
    background-color:antiquewhite;
}
.sidebar h1{
    color: #333;
    font-size: 2.5rem;
    padding: 0 50px;
    text-align: center;
}
.card{
    width: 50%;
    height: 60%;
    border: 1px solid #333;
    border-radius: 9px;
    background-image: url(/media/images/test.png);
    background-size: cover;
}
.one{
    background-image: url(/media/images/one.png);
    background-size: cover;
}
.card::after{
    content: "";
    color:rgba(0, 255, 255, 0.575);
    width: 100%;
    height: 50%;
    
}
.footer{
    background-color:antiquewhite
}